@import "./fonts"
@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

.ar
    direction: rtl
    .border-l-4
        border-left: none !important
        border-right: 4px solid #403886 !important

.card
    @apply .my-20 .mx-20 .bg-white .shadow-md .rounded .py-20
